body {
		  width: 100% !important;
		  margin: 0 !important;
		  padding: 0 !important;
		  text-align: left;
		  font: normal 0.9em/1.0em "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;
		  background: #FFF;
		  color: #333;
}

#top_bar {
		  display:none;
		 }
		
#menu_wrapper {
		  display:none;
		 }
		
#first_level_tab {
		  display:none;
		 }

#most_recent {
		  display:none;
		 }

#timeline {
		  display:none;
		 }

.first_level_tab {
		  display:none;
		 }
		
.onecolumn {
	border: 0px;
}