@charset "utf-8";
/* CSS Document */
*                                    {
                                         margin: 0;
                                         padding: 0;
                                     }
h1, h2, p, form                      {
                                         border: 0px;
                                         margin: 0px;
                                         padding: 0px;
                                     }
h1, h2, h3, h4                       { color: #181800 }
img                                  { border: 0px }
a:visited, a:active, a:link, a:focus {
                                         /* color: #793141;
                                         text-decoration: none; */
                                         font-weight: bold;
                                     }
a:hover                              {
                                         color: #9f9f9e;
                                         text-decoration: none;
                                         font-weight: bold;
                                     }
small                                {
                                         font-size: 9px;
                                         color: #868686;
                                     }
ul, ol                               { padding-left: 40px }
thead                                { display: table-header-group !important }
tfoot                                { display: table-footer-group !important }
label span                           {
                                         display: block;
                                         float: left;
                                         width: 9em;
                                     }
li                                   {
                                         border: 0;
                                         margin: 0;
                                         padding: 2px;
                                         list-style: none;
                                     }
fieldset                             {
                                         border: 0px;
                                         margin-top: 15px;
                                     }
/* ----- Table ----- */
table                                {
                                         border-collapse: collapse;
                                         width: 930px;
                                         background: #ffffff;
                                         padding: 3px;
                                         margin-top: 15px;
                                         border: 1px solid #9f9f9e;
                                     }
table th                             {
                                         border: solid 1px #9f9f9e;
                                         background: #e4e4e2;
                                         padding: 2px 5px;
                                         white-space: nowrap;
                                     }
table td                             {
                                         border: 0px;
                                         border-bottom: 1px dotted #9f9f9e;
                                         padding: 2px 5px;
                                     }
table .subrow td                     { border: none }
.selectedRow                         {
                                         background-color: #868686;
                                         cursor: pointer;
                                     }
.signature                           {
                                         border: 1px #9f9f9e solid;
                                         vertical-align: top;
                                         width: 33%;
                                         text-align: left;
                                     }
/* ----- GUI ----- */
input                                {
                                         border: 1px solid #9f9f9e;
                                         padding: 2px;
                                     }
#search                              {
                                         border: 1px solid #9f9f9e;
                                         color: #181800;
                                         font-size: 18px;
                                         height: 24px;
                                         padding: 2px;
                                         width: 290px;
                                     }
.tabdiv select                       {
                                         border: 1px solid #9f9f9e;
                                         color: #181800;
                                         font-size: 14px;
                                         height: 24px;
                                         padding: 2px;
                                     }
.btn                                 {
                                         margin: 0px;
                                         background: #e4e4e2;
                                         color: #181800;
                                         text-decoration: none;
                                         font-weight: bold;
                                         border: 1px solid #FFF;
                                         outline: 1px solid #9f9f9e;
                                         padding     : 3px 5px;
                                     }
.newuser                             {
                                         padding: 15px;
                                         text-align: center;
                                         font-weight: bold;
                                         font-size: 14px;
                                         background: url(../img/user-silhouette.png) no-repeat #FFF 25px;
                                     }
.newpass                             {
                                         padding: 15px;
                                         text-align: center;
                                         font-weight: bold;
                                         font-size: 14px;
                                         background: url(../img/license-key.png) no-repeat #FFF 25px;
                                     }
.btn:hover                           { background  : #808080 }
.bold                                { font-weight: bold }
.center                              { text-align: center }
.password                            {
                                         text-align: center;
                                         font-size: 18px;
                                     }
.print                               { display: none }
.spacer                              {
                                         clear: both;
                                         height: 1px;
                                     }
/* ----------- stylized Form ----------- */
.myform                              {
                                         width: 450px;
                                         padding: 14px;
                                         position: absolute;
                                         top: 50%;
                                         /*height: 360px;*/
                                         margin-top: -130px; /* negative half of the height */
                                         margin-left: 30%;
                                     }
#stylized                            {
                                         border: solid 1px #9f9f9e;
                                         background: #e4e4e2;
                                         /* Special! */
                                         /* background: url(../special/eastereggs_small.png) no-repeat #e4e4e2 255px 190px;*/
                                     }
#stylized h1                         {
                                         font-size: 14px;
                                         font-weight: bold;
                                         margin-bottom: 8px;
                                     }
#stylized p                          {
                                         font-size: 11px;
                                         color: #868686;
                                         margin-bottom: 15px;
                                         border-bottom: solid 0px #9f9f9e;
                                         padding-bottom: 10px;
                                     }
#stylized label                      {
                                         display: block;
                                         font-weight: bold;
                                         text-align: right;
                                         width: 110px;
                                         float: left;
                                     }
.small                               {
                                         color: #868686;
                                         display: block;
                                         font-size: 11px;
                                         font-weight: normal;
                                         text-align: right;
                                         width: 110px;
                                     }
#stylized input, select              {
                                         float: left;
                                         font-size: 18px;
                                         padding: 4px 2px 4px 2px;
                                         border: solid 1px #9f9f9e;
                                         width: 250px;
                                         margin: 2px 0 20px 10px;
                                     }
#stylized .password                  {
                                         float: left;
                                         font-size: 18px;
                                         padding: 4px 2px 4px 2px;
                                         border: solid 1px #9f9f9e;
                                         width: 140px;
                                         margin: 2px 0 20px 10px;
                                     }
#stylized input.user                 {
                                         background: url(../img/user-silhouette.png) no-repeat #ffffff 5px;
                                         padding: 4px 2px 4px 25px;
                                     }
#stylized input.pass                 {
                                         background: url(../img/license-key.png) no-repeat #ffffff 5px;
                                         padding: 4px 2px 4px 25px;
                                     }
#stylized input.nwpss                {
                                         background: url(../img/key.png) no-repeat #ffffff 5px;
                                         text-align: left;
                                         padding: 4px 2px 4px 25px;
                                     }
#stylized button                     {
                                         clear: both;
                                         margin-left: 150px;
                                         border: none;
                                         width: 125px;
                                         height: 31px;
                                         background: #e4e4e2 url(../img/button.png) no-repeat;
                                         text-align: center;
                                         line-height: 31px;
                                         color: #ffffff;
                                         font-size: 11px;
                                         font-weight: bold;
                                     }
/* ----- Error messages ----- */
#err                                 {
                                         text-align: center;
                                         color: #CC0000;
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         padding: 10px 0px;
                                         border-top: solid 3px #FF6A6A;
                                         display: block;
                                         width: 100%;
                                         font-weight: bold;
                                         background: #FFF2F2;
                                     }
#err.ok                              {
                                         text-align: center;
                                         color: #008000;
                                         position: absolute;
                                         top: 0;
                                         left: 0;
                                         padding: 10px 0px;
                                         border-top: solid 3px #349534;
                                         display: block;
                                         width: 100%;
                                         font-weight: bold;
                                         background: #C9FFCA;
                                     }
/* ----- MESSAGE BOX CLEAN ----- */
.clean-gray                          {
                                         border: solid 1px #9f9f9e;
                                         background: #e4e4e2;
                                         color: #222222;
                                         padding: 4px;
                                         text-align: center;
                                     }
.clean-yellow                        {
                                         border: solid 1px #9f9f9e;
                                         background: #FFFFCC;
                                         color: #222222;
                                         padding: 4px;
                                         text-align: center;
                                     }
.clean-ok                            {
                                         border: solid 1px #349534;
                                         background: #C9FFCA;
                                         color: #008000;
                                         font-weight: bold;
                                         padding: 4px;
                                         text-align: center;
                                     }
.clean-error                         {
                                         border: solid 1px #CC0000;
                                         background: #F7CBCA;
                                         color: #CC0000;
                                         font-weight: bold;
                                         padding: 4px;
                                         text-align: center;
                                     }