body {
		  width: 100% !important;
		  margin: 0 !important;
		  padding: 0 !important;
		  text-align: left;
		  font: normal 0.9em/1.0em "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;
		  background: #FFF;
		  color: #333;
}

.print {
		  display:block;
		 }
.noprint {
		  display:none;
		 }

#top_bar, #menu_wrapper, #first_level_tab, #most_recent, #timeline   {
		  display:none;
		 }

.first_level_tab {
		  display:none;
		 }

#datetext {
		  font-weight:bold;
                  font-size: 1.4em;
		 }

#footer {
		background: white;
		color: black;
		}
		
.onecolumn .header {
		background: white;
		}
		
.date {
		background: white;
		}
		
.dategroup_name a {
		 color: #000;
		 }

.navgroup {
		  display:none;
		 }
                 
.onecolumn {
          border: 0px;
		}

.global td{
          border: 1px solid #999;
			}

.morning, .afternoon, .evening			{
			background: white;
			text-shadow: none;
			}
					
table.global thead tr {
	    	background: white !important;
	    	text-shadow: none;
			font-weight: bold;
			}