/* 
	CSS Reset 
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
                                        {
                                            margin: 0;
                                            padding: 0;
                                            border: 0;
                                            font-weight: inherit;
                                            font-style: inherit;
                                            font-size: 100%;
                                            vertical-align: baseline;
                                        }
body                                    { line-height: 1.5 }
blockquote:before, blockquote:after, q:before, q:after
                                        { content: "" }
blockquote, q                           { quotes: "" "" }
a img                                   { border: none }

/* 
	LOAD CUSTOM FONT 
*/
@font-face								{
										    font-family: 'DroidSansRegular';
										    src: url('font/droidsans-webfont.eot');
										    src: url('font/droidsans-webfont.eot?iefix') format('eot'),
										         url('font/droidsans-webfont.woff') format('woff'),
										         url('font/droidsans-webfont.ttf') format('truetype'),
										         url('font/droidsans-webfont.svg#webfontzjU3WeCs') format('svg');
										    font-weight: normal;
										    font-style: normal;

										}

@font-face								{
										    font-family: 'DroidSansBold';
										    src: url('font/droidsans-bold-webfont.eot');
										    src: url('font/droidsans-bold-webfont.eot?iefix') format('eot'),
										         url('font/droidsans-bold-webfont.woff') format('woff'),
										         url('font/droidsans-bold-webfont.ttf') format('truetype'),
										         url('font/droidsans-bold-webfont.svg#webfontwkojXOq7') format('svg');
										    font-weight: bold;
										    font-style: normal;

										}
/*
	Global layout
*/
body                                    {
                                            background: url("../images/gray_noise.jpg") repeat scroll left top rgb(255, 255, 255); margin: 0pt;
                                            font-size: 12px;
											font-family: 'DroidSansRegular', Arial;
                                            padding: 0;
                                            margin: 0;
                                            color: #666666;
                                        }
.print 									{   display:none; }
body.login                              {   text-align: left }
#login_top                              {
                                            width: 100%;
                                            height: 120px;
                                            background: #000000 url('../images/bg_head_login.png') repeat-x;
                                            border-bottom: 1px solid #fff;
                                            text-align: center;
                                        }
#login_top img                          { margin-top: 24px }
#wrapper                                { width: 100% }
#overlay                                {
                                            width: 100%;
                                            height: 100%;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            z-index: 2;
                                        }
a                                       {                                            
											color: #336699;
                                            text-decoration: none;
                                        }
a:hover                                 {
                                            color: #4D7BCA;
                                            text-decoration: none;
                                        }
a:active                                {
                                            color: #cccccc;
                                            text-decoration: none;
                                        }
label                                   { font-family: 'DroidSansBold', Arial; }
.clear                                  {
                                            clear: both;
                                            margin: 0;
                                            padding: 0;
                                        }
img.middle                              {
                                            vertical-align: middle;
                                            margin-right: 5px;
                                        }
.border                                 { border: 5px solid #fff }
h1                                      {
                                            font-size: 30px;
                                            color: #000000;
                                            font-weight: normal;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                        }
h2                                      {
                                            font-size: 24px;
                                            color: #000000;
                                            font-weight: normal;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                        }
h3                                      {
                                            font-size: 22px;
                                            color: #000000;
                                            font-weight: normal;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                        }
h4                                      {
                                            font-size: 20px;
                                            font-family: 'DroidSansBold', Arial;
                                            color: #000000;
                                            font-weight: normal;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                        }
h5                                      {
                                            font-size: 16px;
                                            font-family: 'DroidSansBold', Arial;
                                            color: #000000;
                                            font-weight: normal;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                        }
.bold									{
										font-family: 'DroidSansBold', Arial;	
										}
ul.global                               {
                                            margin-left: 20px;
                                            list-style-image: url("../images/arrow_li.png");
                                        }
ul.global li                            { line-height: 2em }
ol.global                               { margin-left: 30px }
ol.global li                            { line-height: 2em }
table.global tr                         { background: #fff }
table.global tr td, table.global tr th  { font-size: 1.2em }
table.global thead tr                   {
                                            font-family: 'DroidSansBold', Arial;
                                            background: #ebebeb;
                                            text-align: left;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
                                        }
table.global tr th, table.global tr td  { padding: 7px 15px 7px 15px }
table.global tr td.big                  {
                                            font-size: 1.5em;
                                            font-family: 'DroidSansBold', Arial;
                                        }
.center                                 {
                                            margin: auto;
                                            text-align: center;
                                        }
.big                                    {
                                            font-size: 1.5em;
                                            font-family: 'DroidSansBold', Arial;
                                        }
.detailbig                              { font-size: 1.2em }
.line                                   {
                                            height: 1px;
                                            width: 100%;
                                            border: 0;
                                            border-bottom: 1px solid #ebebeb;
                                            margin: auto;
                                        }
/*
	Input layout
*/
input[type=text], input[type=password], select
                                        {
                                            /* background: #fff;*/
                                            padding: 5px;
                                            font-size: 12px;
                                            margin: 0;
                                            border: 0;
                                            border: 1px solid #ccc;
                                            font-family: Arial;
                                            width: 180px; /* important */
                                        }
input.search                            {
                                            background: transparent;
                                            border: 0;
                                            font-family: Arial;
                                            width: 180px; /* important */
                                            color: #ffffff;
                                        }
input[type=radio], input[type=checkbox]	{
											width:20px;
										}
textarea                                {
                                            background: #fff;
                                            padding: 3px 5px 3px 5px;
                                            font-size: 12px;
                                            color: #000000;
                                            font-family: Arial;
                                            margin: 0;
                                            border: 0;
                                            border: 1px solid #ccc;
                                        }
input[type=text]:hover, input[type=password]:hover, textarea:hover
                                        { border: 1px solid #999 }
input[type=text]:focus, input[type=password]:focus, textarea:focus
                                        { background-color: #fff5d3 }
input[type=text].blur, input[type=password].blur, textarea.blur
                                        {
                                            color: #999;
                                            font-family: Arial;
                                            font-style: italic;
                                        }
input.search:hover, input.search:focus  {
                                            border: 0;
                                            background: transparent;
                                        }
input.button_dark                       {
                                            width: 120px;
                                            height: 30px;
                                            background: transparent url('../images/bg_button_dark.png') no-repeat center;
                                            border: 0;
                                            font-family: 'DroidSansBold', Arial;
                                            font-size: 11px;
                                            text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.746094);
                                            text-transform: uppercase;
                                            color: #fff;
                                        }
input.button_dark:hover                 { background: transparent url('../images/bg_button_dark_hover.png') no-repeat center }
input.button_dark:active                {
                                            color: #999;
                                            background: transparent url('../images/bg_button_dark_active.png') no-repeat center;
                                        }
input.button_light                      {
                                            width: 122px;
                                            height: 32px;
                                            background: transparent url('../images/bg_button_light.png') no-repeat center;
                                            border: 0;
                                            font-family: 'DroidSansBold', Arial;
                                            font-size: 11px;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                            text-transform: uppercase;
                                            color: #000;
                                        }
input.button_light:hover                { background: transparent url('../images/bg_button_light_hover.png') no-repeat center }
input.button_light:active               {
                                            color: #999;
                                            background: transparent url('../images/bg_button_light_active.png') no-repeat center;
                                        }
input.button_red                        {
                                            width: 122px;
                                            height: 32px;
                                            background: transparent url('../images/bg_button_red.png') no-repeat center;
                                            border: 0;
                                            font-family: 'DroidSansBold', Arial;
                                            font-size: 11px;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                            text-transform: uppercase;
                                            color: #000;
                                        }
input.button_red:hover                  { background: transparent url('../images/bg_button_red_hover.png') no-repeat center }
input.button_red:active                 {
                                            color: #999;
                                            background: transparent url('../images/bg_button_red_active.png') no-repeat center;
                                        }
.option                                 {
                                            background: transparent url('../images/bg_option.png') no-repeat center;
                                            width: 169px;
                                            height: 30px;
                                            cursor: pointer;
                                        }
.option_xl                              {
                                            background: transparent url('../images/bg_option_xl.png') no-repeat center;
                                            width: 369px;
                                            height: 30px;
                                            cursor: pointer;
                                        }
.option .text                           {
                                            margin: 7px 0 0 10px;
                                            padding-top: 7px;
                                            font-family: 'DroidSansBold', Arial;
                                            color: #000;
                                        }
.option_xl .text                        {
                                            margin: 7px 0 0 10px;
                                            padding-top: 7px;
                                            font-family: 'DroidSansBold', Arial;
                                            color: #000;
                                        }
.option select                          {
                                            background: transparent;
                                            border: 0;
                                            width: 169px;
                                            height: 30px;
                                            position: relative;
                                            top: -8px;
                                            opacity: 0;
                                            filter: alpha(opacity=0);
                                            cursor: pointer;
                                        }
.option_xl select                       {
                                            background: transparent;
                                            border: 0;
                                            width: 369px;
                                            height: 30px;
                                            position: relative;
                                            top: -8px;
                                            opacity: 0;
                                            filter: alpha(opacity=0);
                                            cursor: pointer;
                                        }
.file                                   {
                                            background: transparent url('../images/bg_file.png') no-repeat left;
                                            width: 238px;
                                            height: 40px;
                                            overflow: hidden;
                                            cursor: pointer;
                                        }
.file .text                             {
                                            margin: 7px 0 0 10px;
                                            position: relative;
                                            top: 5px;
                                        }
.file input[type=file]                  {
                                            background: transparent;
                                            border: 0;
                                            width: 250px;
                                            position: relative;
                                            opacity: 0;
                                            filter: alpha(opacity=0);
                                        }
.date                                   {
                                            background: transparent url('../images/bg_date.png') no-repeat left;
                                            width: 169px;
                                            height: 40px;
                                            overflow: hidden;
                                            cursor: pointer;
                                        }
.date .text                             {
                                            margin: 7px 0 0 10px;
                                            position: relative;
                                            top: 5px;
                                        }
.date input                             {
                                            background: transparent;
                                            border: 0;
                                            width: 169px;
                                            position: relative;
                                            top: -3px;
                                            opacity: 0;
                                            filter: alpha(opacity=0);
                                        }
/*
	Content layout
*/
#top_bar                                {
                                            width: 100%;
                                            height: 60px;
                                            background: #000 url('../images/bg_head.png') repeat-x;
                                            border-bottom: 1px solid #444;
                                        }
#top_bar a                              { color: #BFABC9 }
#top_bar a:hover, #top_bar a:active     { color: #ccc }
#top_bar .logo                          {
                                            float: left;
                                            margin: 9px 0 0 30px;
                                        }
#top_bar .account                       {
                                            float: right;
                                            margin: 11px 30px 0 0;
                                        }
#top_bar .account .detail               {
                                            float: left;
                                            padding-right: 10px;
                                            border-right: 1px solid #666;
                                        }
#top_bar .account .icon                 {
                                            float: left;
                                            display: block;
                                            list-style: none;
                                            margin: 0 0 0 10px;
                                        }
#top_bar .account .icon li              {
                                            float: left;
                                            display: block;
                                            margin-right: 5px;
                                        }
#menu_wrapper                           {
                                            width: 100%;
                                            height: 60px;
                                            background: transparent url('../images/bg_menu.png') repeat-x;
                                            border-bottom: 1px solid #fff;
                                        }
#menu_wrapper #search                   {
                                            float: right;
                                            margin: 13px 30px 0 0;
                                            width: 252px;
                                            height: 30px;
                                            background: transparent url('../images/bg_search.png') repeat-x;
                                        }
#menu_wrapper #search input             { margin: 3px 0 0 40px }
.nav                                    {
                                            float: left;
                                            display: block;
                                            list-style: none;
                                            margin: 0 0 0 10px;
                                        }
.nav li                                 {
                                            display: block;
                                            float: left;
                                            margin: 0 20px 0 20px;
                                        }
.nav li a                               {
                                            color: #b2b2b2;
                                            display: block;
                                            width: 100%;
                                            padding: 20px 0 20px 0;
                                            text-transform: uppercase;
                                            text-align: center;
                                            font-family: 'DroidSansBold', Arial;
                                            text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.746094);
                                            filter: progid:DXImageTransform.Microsoft.Shadow(color='#1a1a1a', Direction=22, Strength=2);
                                            zoom: 1;
                                        }
.nav li a.active, .nav li a:active, .nav li a:hover, .nav li a.selected
                                        {
                                            background: transparent url('../images/bg_menu_selected.png') no-repeat center 80%;
                                            color: #f7f6f6;
                                        }
.popup                                  {
                                            font-size: 80%;
                                            width: 158px;
                                            display: none;
                                            position: absolute;
                                            z-index: 1000;
                                        }
.popup .top                             {
                                            width: 158px;
                                            height: 32px;
                                            background: transparent url('../images/bg_popup_top.png') no-repeat center center;
                                        }
.popup .content                         {
                                            width: 158px;
                                            min-height: 60px;
                                            height: auto;
                                            background: transparent url('../images/bg_popup_content.png') repeat-y center center;
                                        }
.popup .footer                          {
                                            width: 158px;
                                            height: 20px;
                                            background: transparent url('../images/bg_popup_footer.png') no-repeat center center;
                                        }
.submenu                                {
                                            display: block;
                                            list-style: none;
                                            padding-top: 3px;
                                            margin: 0;
                                        }
.submenu li                             {
                                            display: block;
											font-size: 1.2em;
                                            width: 100%;
                                            margin: 0;
                                        }
.submenu li a                           {
                                            padding: 0;
                                            display: block;
                                            width: 130px;
                                            padding: 5px 0 5px 20px;
                                            margin: 0 0 0 3px;
                                            text-align: left;
                                            text-transform: capitalize;
                                            color: #999;
                                        }
.submenu li a:hover, .submenu li a:active
                                        {
                                            background: transparent url('../images/bg_submenu_selected.png') repeat-x;
                                            color: #fff;
                                        }
.shortcut                               {
                                            width: 85px;
                                            position: fixed;
                                            left: 0px;
                                            top: 120px;
                                        }
.shortcut .top                          {
                                            width: 85px;
                                            height: 19px;
                                            background: transparent url('../images/bg_shortcut_top.png') no-repeat center center;
                                        }
.shortcut .content                      {
                                            width: 85px;
                                            min-height: 60px;
                                            height: auto;
                                            background: transparent url('../images/bg_shortcut_content.png') repeat-y center center;
                                        }
.shortcut .content h2                   {
                                            color: #fff;
                                            font-size: 13px;
                                            margin: 0 0 15px 14px;
                                            font-family: 'DroidSansBold', Arial;
                                        }
.shortcut .content .items               {
                                            list-style: none;
                                            display: block;
                                        }
.shortcut .content .items li            { margin: 20px 0 0 20px }
.shortcut .content .items li a          { display: block }
.shortcut .footer                       {
                                            width: 85px;
                                            height: 18px;
                                            background: transparent url('../images/bg_shortcut_footer.png') no-repeat center center;
                                        }
#content_wrapper                        {
                                            min-width: 890px;
                                            margin-left: 10px;
                                            margin-top: 5px;
                                        }
.leftside				                {
                                            float: left;
				                        }
.onecolumn                              {
                                            border: 1px solid #ccc;
										    background-color: #fff;
                                            margin-right: 10px;
                                            margin-top: -2px;
                                        }
.onecolumn.center                       {
                                            margin: 0;
                                            margin: auto;
                                        }
.onecolumn .header                      {
                                            background: #f1f2f2;
                                            padding: 10px 20px 10px 20px;
                                            height: 30px;
                                            border-bottom: 1px solid #ccc;
                                        }
.onecolumn .header h2                   {
                                            font-size: 16px;
                                            font-family: 'DroidSansBold', Arial;
                                            margin-top: 4px;
                                            display: block;
                                            float: left;
                                        }
.onecolumn .header .description         {
                                            margin: 7px 0 0 0;
                                            float: left;
                                        }
.onecolumn .content                     { margin: 10px; }
.onecolumn .content.nomargin            { margin: 0; }
.smallcontent								{
										  margin-right:20%; 
										  margin-left:20%;
										}
.twocolumn_wrapper                      {
                                            float: left;
                                            width: 47%;
                                        }
.twocolumn_wrapper.right                {
                                            float: right;
                                            margin-right: 30px;
                                        }
.twocolumn                              {
                                            border: 1px solid #ccc;
                                            background: #fff;
                                            margin-top: -2px;
                                            width: 100%;
                                        }
.twocolumn .header                      {
                                            background: #f1f2f2;
                                            padding: 10px 20px 10px 20px;
                                            height: 30px;
                                            border-bottom: 1px solid #ccc;
                                        }
.twocolumn .header .description         {
                                            margin: 7px 0 0 0;
                                            float: left;
                                        }
.twocolumn .content                     { margin: 20px }
.content p                              { color: #222 }
.content li                             { color: #222 }
.twocolumn .content.nomargin            { margin: 0 }
.content-height                         { height: 660px }
.first_level_tab                        {
                                            display: block;
                                            list-style: none;
                                            float: left;
                                            border-right: 1px solid #ccc;
                                            margin-bottom: 1px;
                                        }
.first_level_tab li                     {
                                            display: block;
                                            float: left;
                                        }
.first_level_tab li a                   {
                                            display: block;
                                            padding: 10px 20px 10px 20px;
                                            background: #fff;
                                            font-family: 'DroidSansBold', Arial;
                                            border: 1px solid #ccc;
                                            border-bottom: 0;
                                            border-left: 1px solid #ccc;
                                            border-right: 0;
                                            position: relative;
                                            color: #959595;
                                        }
.first_level_tab li a.active            {
                                            display: block;
                                            background: #f1f2f2;
                                            border-bottom: 0;
                                            border-right: 0;
                                            border-left: 1px solid #ccc;
                                            color: #000;
                                            padding-bottom: 12px;
                                        }
.first_level_tab li a:hover, .first_level_tab li a:active
                                        { color: #000 }
.second_level_tab                       {
                                            display: block;
                                            list-style: none;
                                            float: right;
                                        }
.second_level_tab li                    {
                                            display: block;
                                            float: left;
                                            margin-left: 5px;
                                        }
.second_level_tab li a                  {
                                            display: block;
                                            width: 132px;
                                            height: 26px;
                                            padding-top: 8px;
                                            text-align: center;
                                            color: #000;
                                            font-family: 'DroidSansBold', Arial;
                                            font-size: 11px;
                                            text-shadow: 1px 1px 0px white;
                                            text-transform: uppercase;
                                            background: transparent url('../images/bg_2nd_tab.png') no-repeat center;
                                            margin-top: 1px;
                                        }
.second_level_tab li a.active           {
                                            display: block;
                                            width: 130px;
                                            height: 21px;
                                            padding-top: 5px;
                                            text-align: center;
                                            color: #fff;
                                            font-family: 'DroidSansBold', Arial;
                                            font-size: 11px;
                                            text-shadow: white 0px 0px 0px;
                                            text-transform: uppercase;
                                            background: transparent url('../images/bg_2nd_tab_active.png') no-repeat center;
                                            margin-top: 3px;
                                        }
.second_level_tab li a.inactive         {
                                            display: block;
                                            width: 130px;
                                            height: 21px;
                                            padding-top: 5px;
                                            text-align: center;
                                            color: #fff;
                                            font-family: 'DroidSansBold', Arial;
                                            font-size: 11px;
                                            text-shadow: white 0px 0px 0px;
                                            text-transform: uppercase;
                                            background: transparent url('../images/bg_2nd_tab.png') no-repeat center;
                                            margin-top: 3px;
                                        }
.content p                              { padding: 0px 5px 10px 5px }
.pagination                             {
                                            display: block;
                                            clear: both;
                                            float: left;
                                            margin-top: 5px;
                                            width: 100%;
                                            border-top: 1px solid #ccc;
                                            background: #f1f2f2;
                                        }
.pagination a                           {
                                            display: block;
                                            float: left;
                                            padding: 10px 20px 10px 20px;
                                            background: #f1f2f2;
                                            font-family: 'DroidSansBold', Arial;
                                            position: relative;
                                            color: #959595;
                                        }
.pagination a:hover                     { color: #000 }
.pagination a.active                    {
                                            display: block;
                                            float: left;
                                            padding: 10px 20px 10px 20px;
                                            background: #fff;
                                            font-family: 'DroidSansBold', Arial;
                                            border-left: 1px solid #ccc;
                                            border-right: 1px solid #ccc;
                                            position: relative;
                                            top: -1px;
                                            color: #959595;
                                        }
.media_photos                           {
                                            display: block;
                                            margin: 0;
                                            padding: 0;
                                            list-style: none;
                                            float: left;
                                            margin-top: 20px;
                                            margin-left: 10px;
                                        }
.media_photos li                        {
                                            display: block;
                                            float: left;
                                            margin: 0;
                                            padding: 0;
                                            width: 135px;
                                            height: 135px;
                                            text-align: center;
                                        }
.media_photos li img                    { border: 1px solid #ccc }
.media_photos li .action                {
                                            display: block;
                                            text-align: center;
                                            margin-top: 5px;
                                            visibility: hidden;
                                        }
.media_photos li .action img            { border: 0 }
.media_photos li a                      { text-align: center }
.dayoff									{ 
										  margin-left:45%;
										  margin-top:50px; 
										}
.most-recent							{
										  margin-top:50px; 
										  margin-left: auto; 
										  margin-right: auto; 
										  width:450px;
										}
.alert_warning, .alert_info, .alert_success, .alert_error, .alert_tip, .alert_hint, .alert_pos 
                                        {
                                            margin: 20px;
                                            font-family: 'DroidSansBold', Arial;
                                            font-size: 1.2em;
                                        }
.alert_warning                          {
                                            background: #FFFBCC;
                                            border: 1px solid #E6DB55;
                                            cursor: pointer;
                                            color: #69610A;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
                                        }
.alert_info                             {
                                            background: #DBE3FF;
                                            border: 1px solid #A2B4EE;
                                            color: #0888C3;
											padding:6px;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
                                        }
.alert_success                          {
                                            background: #D5FFCE;
                                            border: 1px solid #9ADF8F;
                                            cursor: pointer;
                                            color: #508600;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
                                        }
.alert_error                            {
                                            background: #FFCECE;
                                            border: 1px solid #DF8F8F;
                                            margin: 20px;
                                            color: #E3302C;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
                                        }
.alert_hint								{
                                            background: #FFECCD;
                                            border: 1px solid #DD9854;
                                            margin: 20px;
                                            color: #69610A;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
										}
.alert_tip								{
                                            background: #EBD9F1;
                                            border: 1px solid #A7A1B6;
                                            margin: 20px;
                                            color: #543551;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
										}
.alert_tip a
										{ color: #543551; }
.alert_ads								{
                                            background: #FDF6E5;
                                            border: 1px solid #FDF6E5;
                                            margin: 8px;
											padding: 2px 7px 1px 8px;
                                            color: #543551;
											cursor:pointer;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.49);
										}
.alert_ads a							{
											color: #2200C1;
										}
			
.alert_ads cite, cite a:link, cite a:visited {
    										color: #0E774A;
    										font-style: normal;
}
.alert_ads .ads							{
											float: right; 
											font-weight: normal; 
											color: #767676;
											padding: 1px 0pt 1px 1px; 
											font-size:0.8em;
											margin: 3px 0pt 0pt;
											text-shadow: none;										
										}
.alert_warning p, .alert_info p, .alert_success p, .alert_error p, .alert_pos  p, .alert_tip  p, .alert_hint  p, .alert_ads p
                                        { 
										margin-top:10px; 
										margin-left:34px; 
										font-size:0.9em; 
										line-height:1.2em; 
										width:80% 
										}

										
.graph_wrapper                          { padding: 10px 0 5px 0 }
#footer                                 {
                                            width: 100%;
                                            height: 50px;
                                            padding-top: 10px;
                                            background: #000000 url('../images/bg_head.png') repeat-x;
                                            border-top: 1px solid #fff;
                                            margin-top: 30px;
                                            text-align: center;
                                            color: #fff;
                                            font-size: 11px;
                                        }

/* 
	Reservation navigation headline 
*/
.navgroup                               {
                                            font-size: 24px;
                                            float: left;
                                            margin: 0px 5px;
                                        }
.dategroup                              {
                                            font-size: 18px;
                                            float: left;
                                            margin: 0px 5px;
                                        }
.dategroup_name                         {
                                            font-size: 18px;
                                            font-family: 'DroidSansBold', Arial;
                                            float: left;
                                            margin-top: 8px;
                                            margin-left: 30px;
                                            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.746094);
                                        }

/* 
	Timeline chart 
*/
.timeline-section                       {
                                            float: left;
                                            clear: left;
                                            padding: 1em 2em;
                                        }
.timeline                               {
                                            font-size: 0.9em;
                                            height: 9em;
                                            width: 100%;
                                        }
.timeline li                            {
                                            position: relative;
                                            float: left;
                                            width: 1.5em;
                                            margin: 0 0.1em;
                                            height: 6em;
                                            list-style-type: none;
                                        }
.timeline li .label                     {
                                            display: block;
                                            position: absolute;
                                            bottom: -2em;
                                            left: 0;
                                            background: #fff;
                                            width: 100%;
                                            height: 2em;
                                            line-height: 2em;
                                            text-align: center;
                                            color: #706482;
                                            text-decoration: none;
                                            font-family: 'DroidSansBold', Arial;
                                        }
.timeline li .label2                    {
                                            display: block;
                                            position: absolute;
                                            bottom: -3em;
                                            left: 0;
                                            background: #fff;
                                            width: 100%;
                                            height: 1.5em;
                                            line-height: 1.5em;
                                            text-align: center;
                                            color: #4D7BCA;
                                            text-decoration: none;
                                            font-family: 'DroidSansBold', Arial;
                                        }
.timeline li .count                     {
                                            display: block;
                                            position: absolute;
                                            bottom: 0;
                                            left: 0;
                                            height: 0;
                                            width: 100%;
                                            background: #DEDEDE;
                                            text-indent: -9999px;
                                            overflow: hidden;
                                        }
.timeline li .active                    { 
											opacity: 0.4;
											color: #000 !important; 
										}
										
.timeline li .full                      { background: #D50C0C; }
.timeline li .high                      { background: #F79537; }
.timeline li .low                       { background: #91D539; }
.timeline li .free                      { background: #BAE4E9; }

/* 
	Pagination nested dataTable 
*/
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next
                                        {
                                            height: 19px;
                                            width: 19px;
                                            margin-top: 15px;
                                            margin-left: 5px;
                                            float: left;
                                        }
.paginate_disabled_previous             { background-image: url('../images/icons/prev_disabled.png') }
.paginate_enabled_previous              { background-image: url('../images/icons/prev.png') }
.paginate_disabled_next                 { background-image: url('../images/icons/next_disabled.png') }
.paginate_enabled_next                  { background-image: url('../images/icons/next.png') }

/* 
	Error 
*/
.error                                  { background: #F7CBCA }
label.error                             { margin-left: 6px; }
.error_select                           { background: transparent url('../images/bg_option_error.png') no-repeat center }

/* 
	Inline Edit 
*/
.big .inlineedit input                  {
                                            font-size: 18px;
                                            font-style: normal;
                                            font-family: 'DroidSansBold', Arial;
                                        }

.opentime-table	select					{
										margin-left: 8px;	
										}
/* 
	Google Map 
*/					
.google_map				{
					    background:#FFF;
					    border:1px solid #d8d8d8;
					    margin:20px 0;
					    padding:6px;
					}
#map_canvas				{
					    display:block;
					    width:540px; height:270px;
					    margin-left:auto;
					    margin-right:auto;
					}
/*
	Property Images
*/
.property-image			{
					    display: block;
					    background-position:center center;
					    background-repeat: no-repeat; 
					    width: 350px;
					    height: 250px;
					    float: right;
					}
.property-logo			{
					    display: block;
					    background-position:center center;
					    background-repeat: no-repeat; 
					    width: 250px;
					    height: 80px;
					    float: left;
					}
.nav-image				{
					    margin-right:4px;
					    vertical-align: middle;
					}
/* 
	Daylight Colors 
*/					
.morning				{
					    background:#F6F4E9;
					    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.746094);
					}
.afternoon				{
					    background:#FDFFF1;
					    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.746094);
					}
.evening			{
					    background:#DBCBDE;
					    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.746094);
					}
.tautologous		{
						color: #936 !important;
					}
.waitlist-header	{
						background:#FFB4B4;
					}
.grey				{
						color:#bbb !important;
					}
/* 
	Specials 
*/
.resv-table			{
						margin:15px 0px 0px 0px; 
						font-size:0.9em; 
						width:100%;
					}
.outlet-left		{
						margin-left:5px;	
					}
.outlet-settings	{
						width:35%; 
						float:left; 
						margin-left:40px;
					}
.margin-80		    {
						margin-top:80px !important;
					}
.margin-left-40		{
						margin-left:40px !important;
					}
.width-50		    {
						width:50px !important;
					}
.width-250		    {
						width:250px !important;
					}
.width-450		    {
						width:450px !important;
					}
.width-97		    {					
						width: 97%;
					}
.width-100		    {					
						width: 100%;
					}					
.right-side			{
						float: right;
					}	
.right-side-text	{
						text-align:right;
					}
.detail-slider		{
						width:45%; 
						float:left;
					}
.margin-4		    {
						margin:4px;
					}
.script-box		    {					
						width: 450px;
						height:100px;
					}
.small-column	    {					
						margin-right: 20%;
						margin-left: 20%;
					}
.margin-bottom-10   {					
						margin-bottom:10px;
					}
#messageBox			{
						cursor:pointer;
					}
.res-height			{
						height:750px !important;
					}
.form-height		{
						height:960px !important;
					}
.margin-right-20	{					
						margin-right:20px;	
					}
.padding-left-20	{					
						padding-left:20px;	
					}
.mail-icon			{
						margin-left:11px; 
						vertical-align:middle;
					}
									